# =========================================
# Vercel
# =========================================
.vercel

# =========================================
# Python cache
# =========================================
__pycache__/
*.py[cod]
*.pyc
*.pyo

# =========================================
# Logs
# =========================================
*.log

# =========================================
# Virtual Environments
# =========================================
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# =========================================
# Build / Packaging
# =========================================
build/
dist/
*.egg-info/

# =========================================
# Public / Generated Assets
# =========================================
public/

# =========================================
# VSCode
# =========================================
.vscode/

# =========================================
# OS files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Pytest / Coverage
# =========================================
.pytest_cache/
.coverage
htmlcov/

# =========================================
# Jupyter
# =========================================
.ipynb_checkpoints/